# Port for starting backend NestJs app
PORT=3000
DEBUG_PORT=9239

# Possible states for NODE_ENV: local, test, development, staging, production
NODE_ENV=local

# Site address where frontend is. Used for CORS. If several - separated by commas
SITE_ORIGIN=http://localhost:3000,http://localhost:4200,http://localhost:3001,http://localhost:5173

# Database connection parameters
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=aiguide
DB_GOODS_DATABASE=goods
DB_USERNAME=aiguide
DB_PASSWORD=secret

REDIS_PORT=6379

# TypeOrm configuration (true or false)
TYPEORM_LOGGING=false

# Auth tokens configuration. TTL in seconds
# 15 minutes
ACCESS_TOKEN_TTL=900
# 7 days
REFRESH_TOKEN_TTL=604800

# JWT encryption configuration
JWT_SECRET_KEY=--secret--
JWT_REFRESH_SECRET_KEY=--secret-refresh--

# Bcrypt configuration
BCRYPT_SALT_ROUNDS=8

# OpenAI Params
OPENAI_API_KEY=sk-...3Yu5
OPENAI_PROJECT=asdf
