# Port for starting backend NestJs app
PORT=3000
DEBUG_PORT=9239

# Possible states for NODE_ENV: local, test, development, staging, production
NODE_ENV=local

# Site address where frontend is. Used for CORS. If several - separated by commas
SITE_ORIGIN=http://localhost:3000,http://localhost:4200,http://localhost:3001,http://localhost:5173

# Database connection parameters
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=aiguide
DB_USERNAME=aiguide
DB_PASSWORD=secret

# Vector database connection parameters
VECTOR_DB_HOST=localhost
### VECTOR_DB_HOST=vector_db
VECTOR_DB_PORT=6333
PRODUCTS_COLLECTION_NAME=products

OLLAMA_BASE_URL=http://localhost:11434
CHAT_MODEL=llama3.1:latest
SUMMARIZE_MODEL=llama3.1:latest
EMBEDDING_MODEL=mxbai-embed-large:latest
LANGCHAIN_MEMORY_SCHEMA=langchain_memory

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_WORKSPACE_ID=rag_aiguide


REDIS_PORT=6379

# TypeOrm configuration (true or false)
TYPEORM_LOGGING=false

# Auth tokens configuration. TTL in seconds
# 15 minutes
ACCESS_TOKEN_TTL=900
# 7 days
REFRESH_TOKEN_TTL=604800

# JWT encryption configuration
JWT_SECRET_KEY=--secret--
JWT_REFRESH_SECRET_KEY=--secret-refresh--

# Bcrypt configuration
BCRYPT_SALT_ROUNDS=8
